<%- include("partials/header"); -%>
<br>
<h1 style="text-align: center;color: white">Recipe Search</h1>

<body background="/images/food.webp" class="bodybgimg">

  <div class="searchbar">
    <form action="/" method="post">
      <input class="searchbar" type="text" name="foodname" placeholder="Enter food" size="55%">
      <br><br>
      <button type="submit" class="btn btn-dark roundbutton" style="width: 8rem">Search</button>
    </form>
  </div>
</body>
<%- include("partials/footer"); -%>
